@import url("https://fonts.cdnfonts.com/css/calabassas");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-bold";
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

/* Hide the default cursor everywhere, even on links/buttons */
body,
a,
button,
input,
textarea,
select,
label,
[role="button"],
[tabindex] {
  cursor: none !important;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #eee;
  font-family: Gilroy;
}
body * {
  cursor: none;
}
body::-webkit-scrollbar {
  display: none;
}
body::selection {
  background: rgb(245, 255, 168);
  color: black;
}
.bold {
  font-family: Gilroy-bold;
  font-weight: 200;
}

.skill,
.tool {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: rgb(0, 0, 0);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.505); */
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(166, 166, 166, 0.95);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 5px;
}

.skill img,
.tool img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.skills h1 {
  -webkit-text-stroke: 0.3px #000;
}
.lenis::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .skills {
    width: 98% !important;
    padding: 0 4px;
  }
  .skill,
  .tool {
    padding: 5px 8px;
    font-size: 10px;
    border-radius: 9px;
    margin: 2px;
  }
  .skill img,
  .tool img {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}

.bla {
  font-family: "calabassas", sans-serif;
}

.lg-btn{
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.main-img{
  clip-path: polygon(23.2% 0.8%, 99.9% 37.4%, 53.7% 99.9%, 0.0% 84.6%);clip-path: polygon(20.8% 0.0%, 87.4% 9.8%, 99.7% 68.0%, 33.1% 99.9%, 0.0% 70.4%);
}

